<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070871579517-9nt4kei9i71trphbuqo413b0cgkfudo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070871579517-9nt4kei9i71trphbuqo413b0cgkfudo6</string>
	<key>API_KEY</key>
	<string>AIzaSyA6ME9OXW2N3_IqFCPIdka-wBWgrPES9-I</string>
	<key>GCM_SENDER_ID</key>
	<string>1070871579517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>vpnapp-60a04</string>
	<key>STORAGE_BUCKET</key>
	<string>vpnapp-60a04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070871579517:ios:a5c07659c9fe9257e59a14</string>
</dict>
</plist>